<h1>Welcome, welcome</h1>
<h1>Login</h1>
<label>
  <form action='/login' method="POST">
    <input id='login' name='login' required>
    <h1>Password</h1>
    <input id='password' name='password' type='password' required>
    <button type='submit'>Send</button>
  </form>
</label>